<div class="account-management">
  <div class="account-header">
    <h1>Account Management</h1>
    <p>Create accounts, make deposits and withdrawals</p>
  </div>

  <div class="tabs">
    <button
      [ngClass]="{ active: selectedTab === 'create' }"
      (click)="selectTab('create')"
    >
      <svg>...</svg> Create Account
    </button>
    <button
      [ngClass]="{ active: selectedTab === 'deposit' }"
      (click)="selectTab('deposit')"
    >
      <svg>...</svg> Deposit
    </button>
    <button
      [ngClass]="{ active: selectedTab === 'withdraw' }"
      (click)="selectTab('withdraw')"
    >
      <svg>...</svg> Withdraw
    </button>
  </div>
  <app-input-primary
    label="Amount"
    name="AmountNumber"
    type="text"
  ></app-input-primary>

  <button class="action-button">Create Account</button>
</div>
