<app-back-button></app-back-button>

<section class="account-management">
  <div class="account-header">
    <h1>Account Management</h1>
    <p>Create accounts, make deposits and withdrawals</p>
  </div>

  <div class="tabs-wrapper">
    <div class="tabs">
      <button
        type="button"
        [ngClass]="{ active: selectedTab === 'create' }"
        (click)="selectTab('create')"
      >
        <span>Create Account</span>
      </button>

      <button
        type="button"
        [ngClass]="{ active: selectedTab === 'deposit' }"
        (click)="selectTab('deposit')"
      >
        <span>Deposit</span>
      </button>

      <button
        type="button"
        [ngClass]="{ active: selectedTab === 'withdraw' }"
        (click)="selectTab('withdraw')"
      >
        <span>Withdraw</span>
      </button>
    </div>
  </div>

  <ng-container *ngIf="selectedTab === 'create'">
    <app-select-primary
      name="selectCustomer"
      label="Select Customer (Optional)"
      placeholder="-- All Customers --"
      [(value)]="selectedCustomer"
    >
      @for(customer of customers; track customer.id){
      <option [value]="customer.id">
        {{ customer.name }}
      </option>
      } @empty {
      <option disabled>No customers available</option>
      } ></app-select-primary
    >

    <app-select-primary
      name="selectAccount"
      label="Account Type"
      placeholder="-- All Accounts --"
      [(value)]="selectedAccount"
    >
      @for(account of accounts; track account.id){
      <option [value]="account.id">
        {{ account.type }}
      </option>
      } @empty {
      <option disabled>No account available</option>
      }
    </app-select-primary>
  </ng-container>

  <ng-container *ngIf="selectedTab === 'deposit' || selectedTab === 'withdraw'">
    <app-select-primary
      name="selectCustomer"
      label="Select Customer (Optional)"
      placeholder="-- All Customers --"
      [(value)]="selectedCustomer"
    >
      @for(customer of customers; track customer.id){
      <option [value]="customer.id">
        {{ customer.name }}
      </option>
      } @empty {
      <option disabled>No customers available</option>
      }
    </app-select-primary>

    <app-select-primary
      name="selectAccount"
      label="Select Account (Optional)"
      placeholder="-- All Accounts --"
      [(value)]="selectedAccount"
    >
      @for(account of accounts; track account.id){
      <option [value]="account.id">
        {{ account.type }}
      </option>
      } @empty {
      <option disabled>No account available</option>
      }
    </app-select-primary>

    <app-input-primary
      label="Amount"
      name="AmountNumber"
      type="number"
      placeholder="$."
    ></app-input-primary>
  </ng-container>

  <div class="submit-section">
    <button class="action-button" type="button" (click)="onSubmit()">
      {{ getActionButtonText() }}
    </button>
  </div>
</section>
